<div style="background-color: orange;">

    <p> Hi, <%= comment.user.name %> !</p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> just got published on Codeial!</p>
    <br>
    <br>
    <p>Thanks!</p>

</div>


 <!--below is another templates example -->

<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
  </head>
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <h1>Confirmation</h1>
          <p>Dear [user],</p>
          <p>Thanks for signing up for our service! To complete your registration, please click the button below:</p>
          <a href="http://www.codingninja.com"><button>Confirm</button></a>
          <p>If you didn't sign up for our service, please disregard this email.</p>
          <p>Thanks,</p>
          <p>The [company] Team</p>
        </td>
      </tr>
    </table>
  </body>
</html> -->